ul {
    list-style-type: none;
    text-align: left;
    margin-left: 20%;
}

ul h3 {
    display: inline;
}

.created, .updated, .assigned {
    font-size: 0.8rem
}
.details {
    font-size: 1.1rem;
    font-weight: bold
}